div.disabled {
  pointer-events: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
iframe[src*='docs.google.com'] {
  width: 100%;
  height: auto;
  aspect-ratio: 16 / 9;
}

div.disabled *:focus {
  outline: 0;
}
